.num{
	text-align: right !important;
}

.red{
	color:#FF0040;
}
.blue{
	color:#045FB4;
}
.green{
	color:#088A08;
}
.purple{
	color:#9505F5;
}

#ui-content table tr td{
	font-size:12px !important;
}

body, input, select, textarea, button, .ui-btn {
    font-size: 12px;
}
.ui-mobile label, div.ui-controlgroup-label {
    font-weight: 400;
    font-size: 12px;
}

.ui-table th, .ui-table td {
    line-height: 40px;
    white-space:nowrap;
}
.ui-table tr:active {
    background-color: #E0F2F7;
}
.ui-table tr:visited {
    background-color: #E0F2F7;
}
.ui-table tr:hover {
    background-color: #E0F2F7;
}


.ui-listview li{
	line-height: 40px;
}

.header{
	height:43px;
}
.header h1{
	line-height:25px;
}
.ui-header .ui-title, .ui-footer .ui-title {
    font-size: 14px;
}

.ui-table-columntoggle-btn {
	display:none;
}

.toorbar{
	height:35px;
	background-color:#E6E6E6;
	padding: 5px;
}

.toorbar a{
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	color:#fff !important;
	font-weight: normal !important;
	font-family: ו;
	text-decoration:none;
	background-color:#81BEF7;
}
.toorbar a:active{
	background-color:#2E9AFE;
}
.btn-right{
	float:right;
}
.toorbar .title{
	display:inline-block;
	height:30px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
	color:#2E9AFE;
	font-weight: bold;
	font-size:16px;
}
.ui-popup-container {
    top:40px !important;
}

.ui-field-contain{
	border-bottom:0px;
}

input{
	line-height:40px;
	height:40px;
	padding:0px;
	border-radius: 2px 2px;
	color:#6E6E6E; 
}
input:focus{
	border-color:#79B5E4;
    border-color: rgba(82,168,236,0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}